<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Optional for direct automation in internal builds -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application />
</manifest>
